
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>student details</title>

<style>
  input{
    width:10%;
    padding: 12px 10px;
    margin: 10px 300px;
    display: inline-block;
    border: 2px solid black;
    box-sizing: border-box;
    background-color:lightblue;

  }
  table, td {

    border-collapse: collapse;
    border: 2px solid grey;
    padding: 10px;
    font-size:15px;


  }
</style>
</head>
<body>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Gender</th>
      <th>DOB</th>
      <th>City</th>
      <th>State</th>
      <th>EmailId</th>
      <th>Qualification</th>
      <th>Stream</th>
    </tr>
    {% for row in rows %}
    <tr>
      <td>{{row.id}}</td>
      <td>{{row.name}}</td>
      <td>{{row.gen}}</td>
      <td>{{row.dob}}</td>
      <td>{{row.cit}}</td>
      <td>{{row.sta}}</td>
      <td>{{row.mai}}</td>
      <td>{{row.qua}}</td>
      <td>{{row.stream}}</td>
    </tr>
    {% endfor %}
  </table>
  <form action="ret" >
    <input type="submit" value="Home">

  </form>

</body>
</html>
